# App
build/*
cache/*
config/secrets.jl
log/*
session/*
data/*
!*.gitkeep

# Vagrant
.vagrant
Vagrantfile

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store

# NPM packages folder.
node_modules/
