<div class="am-g" style="margin-top: 30px;">
  <div class="am-u-lg-3 am-u-md-6 am-u-sm-12 detail-mb">
    <h2 class="detail-h2">
      <i class="am-icon-paw"></i>
      分类标注
    </h2>
    <p class="detail-p">
      。。。。。。。。
      <a href="/classify">开始 »</a>
    </p>
  </div>

  <div class="am-u-lg-3 am-u-md-6 am-u-sm-12 detail-mb">
    <h2 class="detail-h2">
      <i class="am-icon-gears"></i>
      多级分类标注
    </h2>
    <p class="detail-p">
      。。。。。。。。
      <a href="/classify">开始 »</a>
    </p>
  </div>

  <div class="am-u-lg-3 am-u-md-6 am-u-sm-12 detail-mb">
    <h2 class="detail-h2">
      <i class="am-icon-anchor"></i>
      匹配标注
    </h2>
    <p class="detail-p">
      。。。。。。。。
      <a href="/classify">开始 »</a>
    </p>
  </div>

  <div class="am-u-lg-3 am-u-md-6 am-u-sm-12 detail-mb">
    <h2 class="detail-h2">
      <i class="am-icon-paper-plane-o"></i>
      实体标注
    </h2>
    <p class="detail-p">
      。。。。。。。。
      <a href="/classify">开始 »</a>
    </p>
  </div>
</div>
