<!DOCTYPE html>
<html lang="zh-cmn">
  <head>
    <meta charset="utf-8">
    <title>Bee · 中文NLP语料标注系统</title>
    <!-- <link rel="stylesheet" href="/css/application.css"> -->
  </head>
  <body>
    <h1 align="center">Bee：中文NLP语料标注系统（测试版）</h1>
    <div class="container" style="
      margin-top: 36px;
      margin-left: 10%;
      margin-right: 10%;
      background-color: skyblue;
    ">
      <%
        @yield
      %>
    </div>
    <!-- <script src="/js/application.js"></script> -->
  </body>
</html>
